@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

/* Add some margin to the page and set a default font and colour */
*{
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color:#d7d7d9;
  margin: 30px;
  font-family: "Georgia", serif;
  line-height: 1.8em;
  color: rgb(0, 0, 0);
}
/* 
#card1 {
  background: url('assets/bruxo.jpeg')!important;
  background-size: cover!important;
} */

/* Give headings their own font */

h1, h2, h3, h4 {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

/* Main content area */

#title h1{
  text-align: center;
  margin-top: 80px;
  font-size: 3.2rem;
  font-family: 'Parisienne', cursive;
}

#content {
  display: grid;
  grid-row-gap: 0px;
  grid-template-columns: 1fr 1fr;
  margin: 80px 70px;
  text-align: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/* Header/footer boxes */

.wideBox {
  clear: both;
  text-align: center;
  margin: 70px;
  padding: 10px;
  background: #000000;
  border: 10px solid #333;
}

.wideBox h1 {
  font-weight: bold;
  margin: 20px;
  color: #666;
  font-size: 1.5em;
}

/* Slots for final card positions */

#cardSlots {
  background:#bf7b3f;
}

/* The initial pile of unsorted cards */

#cardPile {
  margin: 0 auto;
  background:#5d8aa6;
}

#cardSlots, #cardPile {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  width: 550px;
  height: 600px;
  
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.09);
}

/* Individual cards and slots */

#cardSlots div, #cardPile div {
  width: 150px;
  height: 150px;
  border: 2px solid #333;
  border-radius: 10px;
  margin:10px;
  background: #fff;
}


#cardSlots div.hovered {
  background: #aaa;
}

#cardSlots div{
  margin-top: 30px;
  margin-left: 16px;
  color: aqua;
  text-align: left;
}

#cardPile div {
  margin-top: 30px;
  margin-left: 16px;
  background: #666;
  color: #fff;
  font-size: 50px;
  text-shadow: 0 0 3px #000;
}

#cardPile div.ui-draggable-dragging {
  -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
}

/* Individually coloured cards */

#card1.correct { background: red; }
#card2.correct { background: brown; }
#card3.correct { background: orange; }
#card4.correct { background: yellow; }
#card5.correct { background: green; }
#card6.correct { background: cyan; }
#card7.correct { background: blue; }
#card8.correct { background: indigo; }
#card9.correct { background: purple; }
#card10.correct { background: violet; }


/* "You did it!" message */
#successMessage {
  position: absolute;
  left: 580px;
  top: 250px;
  width: 0;
  height: 0;
  z-index: 100;
  background: #dfd;
  border: 2px solid #333;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
  -webkit-box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
  box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
  padding: 20px;
}