@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #0D0D0D;
}

#card1 {
  background: url('assets/adalovelace.jpg')!important;
  background-size: cover!important;
} 

#card2 {
  background: url('assets/alan_turing.jpg')!important;
  background-size: cover!important;
}

#card3 {
  background: url('assets/dennis_ritchie.jpg')!important;
  background-size: cover!important;
}

#card4 {
  background: url('assets/richard_stallman.jpg')!important;
  background-size: cover!important;
}

#card5 {
  background: url('assets/edsger_dijkstra.jpg')!important;
  background-size: cover!important;
}

#card6 {
  background: url('assets/james_gosling.jpg')!important;
  background-size: cover!important;
}

#card7 {
  background: url('assets/linus_torvalds.jpg')!important;
  background-size: cover!important;
}

#card8 {
  background: url('assets/steve_wozniak.jpg')!important;
  background-size: cover!important;
}

#card9 {
  background: url('assets/tim_berners_lee.jpg')!important;
  background-size: cover!important;
}

/* Main content area */

#title{
  background-color: #0D0D0D;
  width: 100%;
  height: 200px;
  border-bottom: 2px solid #0311FC;
}

#title h1{
  padding-top: 80px;
  text-align: center;
  font-size: 3.2rem;
  font-family: 'Montserrat', sans-serif;
  color: #D9D9D9;
  text-shadow: 0px 2px 10px #0311FC;
}

#content {
  display: grid;
  grid-row-gap: 0px;
  grid-template-columns: 1fr 1fr;
  margin: 80px 70px;
  text-align: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/* Header / footer / boxes */

.wideBox {
  clear: both;
  text-align: center;
  margin: 70px;
  padding: 10px;
  background: #000000;
  border: 10px solid #333;
}

.wideBox h1 {
  font-weight: bold;
  margin: 20px;
  color: #666;
  font-size: 1.5em;
}

/* Slots antes de começar a seprar cartas */

#cardSlots { /*Toda a div*/
  background:rgb(67, 67, 67);
}

/* Pilha inicial */

#cardPile { /*Toda a div*/
  margin: 0 auto;
  background: rgb(67, 67, 67);
}

#cardSlots, #cardPile { /*Toda a div*/
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  width: 550px;
  height: 600px;
  border-radius: 2%;
  box-shadow: 0px 0px 5px #0311FC;
}

/* Individual cards e slots */

#cardSlots div, #cardPile div { /*card individual*/
  width: 150px;
  height: 150px;
  border: 2px solid #01087C;
  border-radius: 10px;
  margin:10px;
  background: rgba(3, 15, 252, 0.3);
}

#cardSlots div{ /*card individual*/
  margin-top: 30px;
  margin-left: 16px;
  color: rgb(0, 0, 0);
  padding-top: 50px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #D9D9D9;
  font-size: 0.9rem;
}

#cardPile div { /*card individual*/
  margin-top: 30px;
  margin-left: 16px;
}

#cardPile div.ui-draggable-dragging { /* configuraçãoes do card individual no momnento em que está sendo arrastado*/
  -moz-box-shadow: 0 0 .5em rgba(3, 15, 252, 0.8);
  -webkit-box-shadow: 0 0 .5em rgba(3, 15, 252, 0.8);
  box-shadow: 0 0 .5em rgba(3, 15, 252, 0.8);
}

#cardPile div:hover{
  cursor: pointer;
}


/* Mensagem */
#mensagemSucesso {
  position: absolute;
  margin: 0 auto;
  left: 425px;
  top: 250px;
  z-index: 100;

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #D9D9D9;
  border-radius: 2%;
  box-shadow: 0px 2px 5px #0311FC;
 
  white-space: nowrap; 
}

#mensagemSucesso h2{
  padding-top: 50px;
  font-family: 'Montserrat', sans-serif;
  color: #000000;
}

#mensagemSucesso button{
  margin-top: 40px;
  width: 200px;
  height: 50px;
  font-family: 'Montserrat', sans-serif;
  color: #D9D9D9;
  background-color: #0311FC;
  border-radius: 2%;
  box-shadow: 0px 0px 5px #000000;
}

#mensagemSucesso button:hover{
  cursor: pointer;
}